            img {
                width: 100%;
            }

            figure {
                margin: 0;
                padding: 0;
                height: 197px;
                position: relative;
                display: block;
                cursor: pointer;
                overflow: visible;
                border: 7px solid #fff;
            }

            figure:hover figcaption {
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                filter: alpha(opacity=100);
                opacity: 1;
                top: 0;
            }

            figcaption {
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                filter: alpha(opacity=0);
                opacity: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(255,255,255,0.75);
                color: #fff;
/*                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -o-transition: all .5s ease;
                -ms-transition: all .5s ease;
                transition: all .5s ease;
                -webkit-transition-delay: .5s;
                -moz-transition-delay: .5s;
                -o-transition-delay: .5s;
                -ms-transition-delay: .5s;
                transition-delay: .5s;*/
                /*overflow: hidden;*/
            }

            figcaption h3 {
                font-family: 'Open sans';
                font-weight: 400;
                color: #f3b204;
                padding: 10px 20px;
                margin-bottom: 0;
                position: relative;
                righ: 100%;
                margin-top: 37px;
                font-size: 30px;
            }

            figcaption p {
                font-family: 'Open sans';
                padding: 10px 20px;
                margin-bottom: 0;
                margin-top: 20px;
                position: relative;
                left: 100%;
                font-size: 13px;
            }

            figure:hover h3,figure:hover p {
                left: 0;
            }

            figcaption a {
                color: #fff;
                border: 2px solid #fff;
                padding: 4px 10px;
                text-decoration: none;
            }

            figcaption a:hover {
                color: #4f5856;
                background: #fff;
            }